@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&family=Nabla&display=swap');

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Background colors */
    --dark: #252525;
    --light: #ADD8E6;
    --blue:#234E70;

    /* text colors */

    /* font family  */
    --primary-font:'Jost', cursive;
    --secondary-font:'Ubuntu', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

section{
    padding: 80px 0;
}

footer{
    padding: 20px 0;
}

.main-btn{
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgb(118, 85, 225 / 30%);
    border:double 2px transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.3s all ease-in-out;
}
.small-btn{
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgb(118, 85, 225 / 30%);
    border:double 2px transparent;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s all ease-in-out;
}
.primary-btn{
    background: var(--blue);
    color: white;
}
.primary-btn:hover{
    border-color: var(--blue);
    background-color: black;
    color: var(--light);
    box-shadow: none;
}
.secondary-btn{
    background: white;
    color: var(--blue);
    border-color: black;
}
.secondary-btn:hover{
    border-color: var(--blue);
    background-color: black;
    color: var(--light);
    box-shadow: none;
}
.third-btn{
    background: rgb(120, 190, 233);
    color: #252525;
    border-color: black;
}
.third-btn:hover{
    border-color: #252525;
    background-color: black;
    color: white;
    box-shadow: none;
}
.text-blue{
    color: #529eb8;
}
h1{
    font-size: 75px;
    line-height: 60px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    font-family: var(--primary-font);
    text-transform: uppercase;
}
h2{
    font-size: 40px;
    line-height: 55px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
    font-family: var(--primary-font);
}
h3{
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
    font-family: var(--primary-font);
    text-transform: uppercase;
}
h5{
    font-size: 25px;
    font-weight: 500;
    color: black;
    margin-bottom: 35px;
}
p{
    color: rgb(149, 149, 149);
    font-size: 15px;
    line-height: 25px;
    font-weight: lighter;
}

/* quantity button styling */
/* -- quantity box -- */

.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* -moz-appearance: none; */
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }
      

/* navbar styling  */
.navbar{
    height: 70px;
}
.navbar-brand{
    margin-right: 35%;
}
.header_wrapper .navbar-brand{
    transition: 0.3s ease all;
}
.header_wrapper .navbar-brand:hover{
    transform: scale(1.1);
    transition: 0.3s ease all;   
}
.header_wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.header_wrapper .navbar-toggler{
    border: none;
}
.header_wrapper .navbar-toggler:hover{
    transform: scale(1.1);
    transition: 0.3s ease all;
}
.header_wrapper .nav-link{
    font-weight: 300;
    color: black;
}
.header_wrapper .nav-link.active,
.header_wrapper .nav-link:hover{
    transition: 0.3s all ease;
    color: red;
}
.header_wrapper form button{
    font-weight: 300;
    color: black;
}
.header_wrapper form button.active,
.header_wrapper form button:hover{
    transition: 0.3s all ease;
    color: red;
}
/* slider images styling  */
/* .slide_wrapper .carousel{

} */

/* food sections tab styling */
.card{
    width: 360px;
    border: none;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px));
    gap: 20px;
    border-radius: 20px;
}
.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
}
.card-img-top{
    height: fit-content;
    border-radius: 20px;
}
.card-title{
    margin-top: -25px;
}
.card .btn{
    text-align: end;
}
.nav-tabs button{
    color: black;
}

.c_img img{
    border-radius: 10px;
}

